<!-- web/templates/pages/executed_operators.html -->

{% extends "layout/base.html" %}
{% block title %}Executed Operators{% endblock %}
{% block content %}
<h2>Executed Physical Operators</h2>
<ul class="list-group mt-4">
    {% for operator in executed_operators %}
        <li class="list-group-item">{{ operator }}</li>
    {% endfor %}
</ul>
<h2>Updated Table</h2>
<div class="table-responsive mt-4">
    {{ data | safe }}
</div>
<a href="{{ url_for('planner_analysis') }}" class="btn btn-info mt-3">Back to Planner Analysis</a>
<a href="{{ url_for('execute_physical_operators') }}" class="btn btn-success mt-3">Execute Next Operator</a>
{% endblock %}