{% extends "layout/base.html" %}
{% block title %}Upload File{% endblock %}
{% block content %}
<h2>Upload a File</h2>
<form action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data" class="mt-4">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.file.label }} {{ form.file(class="form-control-file") }}
    </div>
    <div class="form-group">
        {{ form.question.label }} {{ form.question(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}